/* Reset */
* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3rem;
}

:root {
    --ligth-blue: #19afeb;
    --acqua: #00ffff;
    --dark-blue: #4169e1;
    --white: #ffffff;
    --light-grey: #e9e6e6;
    --darkgrey: #a9a9a9;
    --yellow: #f1f506;
}


/* Utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* heading */
.bg-img {
    background: var(--ligth-blue) url(../img/pattern.png) repeat-x;
}

h1 {
    font-size: 2rem;
}

.logo {
    width: 200px;
    padding: 25px 0px;
}

.booleaner {
    color: var(--ligth-blue);
    text-decoration: none;
}

address {
    font-style: normal;
    margin-bottom: 30px;
}

/* photo area */
#photo img {
    width: 48%;
    height: 500px;
}

.photo-description,
.date {
    font-size: 0.85rem;
    display: block;
}

/* main text */
.list {
    padding-left: 20px;
}

.highlighted {
    background: var(--yellow);
}

/* board */
table {
    background-color: var(--acqua);
}

th {
    width: 325px;
    text-align: left;
    background-color: var(--dark-blue);
    color: var(--white);
}

.center-row {
    background-color: var(--light-grey);
}

/* keep exploring */
#keep-exploring,
address {
    font-size: 1.5rem;
    color: var(--dark-grey);
}

#monitor,
#graph {
    position: relative;
}

.interesing-content {
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
}

#monitor div,
#graph div {
    position: absolute;
    top: 15px;
    left: 10px;
}